<h1>Listing op_timers</h1>

<table>
  <tr>
  </tr>

<% for op_timer in @op_timers %>
  <tr>
    <td><%= link_to 'Show', op_timer %></td>
    <td><%= link_to 'Edit', edit_op_timer_path(op_timer) %></td>
    <td><%= link_to 'Destroy', op_timer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New op_timer', new_op_timer_path %>
