<h1>New class_assignments</h1>

<%= error_messages_for :class_assignments %>

<% form_for(@class_assignments) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', class_assignments_path %>
