<h1>New topic_run_result</h1>

<%= error_messages_for :topic_run_result %>

<% form_for(@topic_run_result) do |f| %>
  <p>
    <b>Userid</b><br />
    <%= f.text_field :userId %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', topic_run_results_path %>
