 

<p>Welcome to Mathspert <i><%= @name %></i>. </p>
 
<p>To activiate your account please enter the Activiation code <i><%= @activation_code %></i>. You will be prompted for the code when you first login.</p>
<p>With a family membership you can then create and manage 2 student accounts.

<p>If you have any questions or suggestions please contact support@mathspert.com. 
 