<h1>New discount_code</h1>

<%= error_messages_for :discount_code %>

<% form_for(@discount_code) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', discount_codes_path %>
