<h1>New student_assignments</h1>

<%= error_messages_for :student_assignments %>

<% form_for(@student_assignments) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', student_assignments_path %>
