<p> Email from <i><%= @user_email %>
<p>name: <i><%= @first_name %></i> <i><%= @last_name %>
<p>Login: <%= @login %> </i> </p>

<p>Source : <%= @source_program %> 

<p><%= @contactType %> 
<p> 
<p> <i><%= @msg %></i>  